In [12]:
with open("./data/test.txt", "r") as f:
    time_table = f.readlines()

In [13]:
time_table = [x.strip().replace("\n", "") for x in time_table]
time_table

['TF1 TA1 E1/STC2 D1 B1 TA2 E2/STC1 D2 B2 TF2',
 'L1 L2 L3 L4 L5 L6 L31 L32 L33 L34 L35 L36',
 'TCC1 E1/STA2 G1/TFF1 TBB1 TDD1 E2/STA1 G2/TFF2 TBB2 TDD2 TCC2',
 'L7 L8 L9 L10 L11 L12 L37 L38 L39 L40 L41 L42',
 'TE1 C1 A1 F1 D1 C2 A2 F2 D2 TE2',
 'L13 L14 L15 L16 L17 L18 L43 L44 L45 L46 L47 L48',
 'TAA1 TD1 B1 G1/TEE1 C1 TD2 B2 G2/TEE2 C2 TAA2',
 'L19 L20 L21 L22 L23 L24 L49 L50 L51 L52 L53 L54',
 'TG1 TB1 TC1 A1 F1 TB2 TC2 A2 F2 TG2',
 'L25 L26 L27 L28 L29 L30 L55 L56 L57 L58 L59 L60']

In [14]:
import re


def is_empty(s: str):
    # check if all the characters are empty using regex
    return re.match(r"^\s*$", s) is not None

In [15]:
slots_per_day = []
for i in range(0, len(time_table), 2 ):
    line1 = time_table[i]
    line2 = time_table[i+1]

    line1 = line1.split(" ")
    line2 = line2.split(" ")

    line1 = [x for x in line1 if not is_empty(x)]
    line1.insert(5, "")
    line2 = [x for x in line2 if not is_empty(x)]

    # merge two arrays into one element by element if overflow still add 
    line = [(x + "+" + y).replace("/", "+").removeprefix("+") for x, y in zip(line1, line2)]
    line.extend(line2[len(line1):])
    slots_per_day.append(line)

In [16]:
for day in slots_per_day:
    print(day)

['TF1+L1', 'TA1+L2', 'E1+STC2+L3', 'D1+L4', 'B1+L5', 'L6', 'TA2+L31', 'E2+STC1+L32', 'D2+L33', 'B2+L34', 'TF2+L35', 'L36']
['TCC1+L7', 'E1+STA2+L8', 'G1+TFF1+L9', 'TBB1+L10', 'TDD1+L11', 'L12', 'E2+STA1+L37', 'G2+TFF2+L38', 'TBB2+L39', 'TDD2+L40', 'TCC2+L41', 'L42']
['TE1+L13', 'C1+L14', 'A1+L15', 'F1+L16', 'D1+L17', 'L18', 'C2+L43', 'A2+L44', 'F2+L45', 'D2+L46', 'TE2+L47', 'L48']
['TAA1+L19', 'TD1+L20', 'B1+L21', 'G1+TEE1+L22', 'C1+L23', 'L24', 'TD2+L49', 'B2+L50', 'G2+TEE2+L51', 'C2+L52', 'TAA2+L53', 'L54']
['TG1+L25', 'TB1+L26', 'TC1+L27', 'A1+L28', 'F1+L29', 'L30', 'TB2+L55', 'TC2+L56', 'A2+L57', 'F2+L58', 'TG2+L59', 'L60']

In [18]:
days = [ "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

# convert into a dictionary 
time_table = dict(zip(days, slots_per_day))
time_table

{'Tuesday': ['TF1+L1',
  'TA1+L2',
  'E1+STC2+L3',
  'D1+L4',
  'B1+L5',
  'L6',
  'TA2+L31',
  'E2+STC1+L32',
  'D2+L33',
  'B2+L34',
  'TF2+L35',
  'L36'],
 'Wednesday': ['TCC1+L7',
  'E1+STA2+L8',
  'G1+TFF1+L9',
  'TBB1+L10',
  'TDD1+L11',
  'L12',
  'E2+STA1+L37',
  'G2+TFF2+L38',
  'TBB2+L39',
  'TDD2+L40',
  'TCC2+L41',
  'L42'],
 'Thursday': ['TE1+L13',
  'C1+L14',
  'A1+L15',
  'F1+L16',
  'D1+L17',
  'L18',
  'C2+L43',
  'A2+L44',
  'F2+L45',
  'D2+L46',
  'TE2+L47',
  'L48'],
 'Friday': ['TAA1+L19',
  'TD1+L20',
  'B1+L21',
  'G1+TEE1+L22',
  'C1+L23',
  'L24',
  'TD2+L49',
  'B2+L50',
  'G2+TEE2+L51',
  'C2+L52',
  'TAA2+L53',
  'L54'],
 'Saturday': ['TG1+L25',
  'TB1+L26',
  'TC1+L27',
  'A1+L28',
  'F1+L29',
  'L30',
  'TB2+L55',
  'TC2+L56',
  'A2+L57',
  'F2+L58',
  'TG2+L59',
  'L60']}

In [14]:
import json 
with open("./time_table.json", "w") as f:
    json.dump(time_table, f, indent=4)