In [2]:
import pandas as pd 
from tabula import io 
from pathlib import Path
import os

data_dir = csv_path = Path(os.getcwd()) / 'data' 

NUM_PAGES = 1
THEORY_PATH = data_dir / 'Annexure-I Win semester 2024-25 Slot Timetable.pdf'
dfs = io.read_pdf(
    THEORY_PATH.resolve(), 
    pages=[i+1 for i in range(NUM_PAGES)], 
    multiple_tables=False, guess=False, encoding='cp1252'
)
df = dfs[0]

# 0,Lab Hours,8.00 - 8.50,9.00 - 9.50,09.50 - 10.40,11.00 - 11.50,11.50 - 12.40,12.40 - 01.30,2.00 - 2.50,2.50 - 3.40,4.00 - 4.50,4.50 - 5.40,6.00 - 6.50,6.50 - 7.30,

In [3]:
df

,Theory Hours,8.00 - 8.50,9.00 - 9.50,10.00 - 10.50,11.00 - 11.50,12.00 - 12.50,Unnamed: 6,L\rU\rN\rC\rH,2.00 - 2.50,3.00 - 3.50,4.00 - 4.50,5.00 - 5.50,6.00 - 6.50,Unnamed: 13
0,Lab Hours,8.00 - 8.50,9.00 - 9.50,09.50 - 10.40,11.00 - 11.50,11.50 - 12.40,12.40 - 01.30,2.00 - 2.50,2.50 - 3.40,4.00 - 4.50,4.50 - 5.40,6.00 - 6.50,6.50 - 7.30,NaN
1,TUE,Theory,TEE1,A1,B1,C1,D1,NaN,E2/SE1,A2,TBB2/G2,C2,TDD2,NaN
2,NaN,Lab,L1,L2,L3,L4,L5,L6,L31,L32,L33,L34,L35,L36
3,WED,Theory,TG1,D1,F1,E1/SC2,B1,NaN,D2,E2/SC1,F2,B2,TCC2,NaN
4,NaN,Lab,L7,L8,L9,L10,L11,L12,L37,L38,L39,L40,L41,L42
5,THU,Theory,TF1,TC1,TD1,TA1,TFF1/CLUBS/ECS,NaN,B2,F2,TD2,TA2,TEE2,NaN
6,NaN,Lab,L13,L14,L15,L16,L17,L18,L43,L44,L45,L46,L47,L48
7,FRI,Theory,TCC1,TB1,TAA1/G1,F1,TE1/SD2,NaN,C2,TB2,TAA2/G2,TE2/SD1,TF2,NaN
8,NaN,Lab,L19,L20,L21,L22,L23,L24,L49,L50,L51,L52,L53,L54
9,SAT,Theory,TDD1,E1/SE2,C1,TBB1/G1,A1,NaN,D2,TC2,A2,SF1/CLUBS/ECS,TG2/CLUBS/ECS,NaN
10,NaN,Lab,L25,L26,L27,L28,L29,L30,L55,L56,L57,L58,L59,L60
11,CREDIT,SLOTS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4 CREDIT,A1+TA1+TAA1,B1+TB1+TBB1,C1+TC1+TCC1,C1+SC1+TC1,D1+TD1+TDD1,D1+TD1+SD1,NaN,A2+TA2+TAA2,B2+TB2+TBB2,C2+TC2+TCC2,D2+TD2+TDD2,E2+TE2+TEE2,NaN
13,NaN,E1+TE1+TEE1,E1+SE1+TE1,F1+SF1+TFF1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,3 CREDIT,A1+TA1,B1+TB1,C1+TC1,D1+TD1,E1+TE1,F1+TF1,NaN,A2+TA2,B2+TB2,C2+TC2,D2+TD2,E2+TE2,NaN
15,NaN,F1+TFF1,G1+TG1,NaN,NaN,NaN,NaN,NaN,F2+TF2,F2+SF1,G2+TG2,NaN,NaN,NaN
16,2 CREDI,A1,B1,C1,D1,E1,F1,NaN,A2,B2,C2,D2,E2,NaN
17,NaN,G1,NaN,NaN,NaN,NaN,NaN,NaN,F2,G2,NaN,NaN,NaN,NaN
18,1 CREDIT,TA1,TB1,TC1,TD1,TE1,TFF1,NaN,TA2,TB2,TC2,TD2,TE2,NaN
19,NaN,TG1,TEE1,TCC1,TDD1,NaN,NaN,NaN,TF2,TG2,TDD2,TCC2,TEE2,NaN

In [4]:
df.iloc[:11, :].to_csv("tt.csv")

In [7]:
with open("./data/test.txt", "r") as f:
    time_table = f.readlines()

In [8]:
time_table = [" ".join(x.strip().split(",")).replace("\n", "") for x in time_table]
time_table

['TEE1 A1 B1 C1 D1 - E2/SE1 A2 TBB2/G2 C2 TDD2 -',
 'L1 L2 L3 L4 L5 L6 L31 L32 L33 L34 L35 L36',
 'TG1 D1 F1 E1/SC2 B1 - D2 E2/SC1 F2 B2 TCC2 -',
 'L7 L8 L9 L10 L11 L12 L37 L38 L39 L40 L41 L42',
 'TF1 TC1 TD1 TA1 TFF1/CLUBS/ECS - B2 F2 TD2 TA2 TEE2 -',
 'L13 L14 L15 L16 L17 L18 L43 L44 L45 L46 L47 L48',
 'TCC1 TB1 TAA1/G1 F1 TE1/SD2 - C2 TB2 TAA2/G2 TE2/SD1 TF2 -',
 'L19 L20 L21 L22 L23 L24 L49 L50 L51 L52 L53 L54',
 'TDD1 E1/SE2 C1 TBB1/G1 A1 - D2 TC2 A2 SF1/CLUBS/ECS TG2/CLUBS/ECS -',
 'L25 L26 L27 L28 L29 L30 L55 L56 L57 L58 L59 L60']

In [9]:
import re

def is_empty(s: str):
    # check if all the characters are empty using regex
    return re.match(r"^\s*$", s) is not None

In [10]:
slots_per_day = []
for i in range(0, len(time_table), 2 ):
    line1 = time_table[i]
    line2 = time_table[i+1]

    line1 = line1.split(" ")
    line2 = line2.split(" ")

    line1 = [x for x in line1 if not is_empty(x)]
    # line1.insert(5, "")
    line2 = [x for x in line2 if not is_empty(x)]

    if len(line1) != len(line2):
        raise Exception("Invalid lines" + str(line1) + str(line2))

    # merge two arrays into one element by element if overflow still add 
    line = [(x + "+" + y).replace("/", "+").replace("-","").replace("\t", "").removeprefix("+") for x, y in zip(line1, line2)]
    line.extend(line2[len(line1):])
    slots_per_day.append(line)

In [11]:
for day in slots_per_day:
    print(day)

['TEE1+L1', 'A1+L2', 'B1+L3', 'C1+L4', 'D1+L5', 'L6', 'E2+SE1+L31', 'A2+L32', 'TBB2+G2+L33', 'C2+L34', 'TDD2+L35', 'L36']
['TG1+L7', 'D1+L8', 'F1+L9', 'E1+SC2+L10', 'B1+L11', 'L12', 'D2+L37', 'E2+SC1+L38', 'F2+L39', 'B2+L40', 'TCC2+L41', 'L42']
['TF1+L13', 'TC1+L14', 'TD1+L15', 'TA1+L16', 'TFF1+CLUBS+ECS+L17', 'L18', 'B2+L43', 'F2+L44', 'TD2+L45', 'TA2+L46', 'TEE2+L47', 'L48']
['TCC1+L19', 'TB1+L20', 'TAA1+G1+L21', 'F1+L22', 'TE1+SD2+L23', 'L24', 'C2+L49', 'TB2+L50', 'TAA2+G2+L51', 'TE2+SD1+L52', 'TF2+L53', 'L54']
['TDD1+L25', 'E1+SE2+L26', 'C1+L27', 'TBB1+G1+L28', 'A1+L29', 'L30', 'D2+L55', 'TC2+L56', 'A2+L57', 'SF1+CLUBS+ECS+L58', 'TG2+CLUBS+ECS+L59', 'L60']

In [12]:
days = [ "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

# convert into a dictionary 
time_table = dict(zip(days, slots_per_day))
time_table

{'Tuesday': ['TEE1+L1',
  'A1+L2',
  'B1+L3',
  'C1+L4',
  'D1+L5',
  'L6',
  'E2+SE1+L31',
  'A2+L32',
  'TBB2+G2+L33',
  'C2+L34',
  'TDD2+L35',
  'L36'],
 'Wednesday': ['TG1+L7',
  'D1+L8',
  'F1+L9',
  'E1+SC2+L10',
  'B1+L11',
  'L12',
  'D2+L37',
  'E2+SC1+L38',
  'F2+L39',
  'B2+L40',
  'TCC2+L41',
  'L42'],
 'Thursday': ['TF1+L13',
  'TC1+L14',
  'TD1+L15',
  'TA1+L16',
  'TFF1+CLUBS+ECS+L17',
  'L18',
  'B2+L43',
  'F2+L44',
  'TD2+L45',
  'TA2+L46',
  'TEE2+L47',
  'L48'],
 'Friday': ['TCC1+L19',
  'TB1+L20',
  'TAA1+G1+L21',
  'F1+L22',
  'TE1+SD2+L23',
  'L24',
  'C2+L49',
  'TB2+L50',
  'TAA2+G2+L51',
  'TE2+SD1+L52',
  'TF2+L53',
  'L54'],
 'Saturday': ['TDD1+L25',
  'E1+SE2+L26',
  'C1+L27',
  'TBB1+G1+L28',
  'A1+L29',
  'L30',
  'D2+L55',
  'TC2+L56',
  'A2+L57',
  'SF1+CLUBS+ECS+L58',
  'TG2+CLUBS+ECS+L59',
  'L60']}

In [13]:
import json 
with open("./time_table.json", "w") as f:
    json.dump(time_table, f, indent=4)