In [69]:
import numpy as np 
import pandas as pd

In [41]:
import tabula
is_lab: bool = False
pdf_path = "./data/ANNEXURE-II(A) Theory Slots.pdf"
dfs = tabula.io.read_pdf(pdf_path, pages=[i+1 for i in range(9)], multiple_tables=False)

In [3]:
len(dfs)

1

In [4]:
df = dfs[0]

In [68]:
# get the col where code is chy1001
df[df['COURSE CODE'] == 'CHY1001']

    COURSE CODE                  TITLE SLOT
257     CHY1001  Environmental Studies   E1
258     CHY1001  Environmental Studies  NaN

In [5]:
# give me the last element
df.iloc[-1, :]

COURSE CODE                         STS3006
TITLE          Basic Competitive Coding - I
SLOT                                 G1+TG1
Name: 394, dtype: object

In [6]:
# remove all the white space characters inside df
df = df.replace(r'\s+', ' ', regex=True)

In [8]:
df.head()

  COURSE CODE                           TITLE       SLOT
0     CSE2001  Data Structures and Algorithms  A1+TA1+G1
1     CSE2001  Data Structures and Algorithms  A1+TA1+G1
2     CSE2001  Data Structures and Algorithms  A1+TA1+G1
3     CSE2001  Data Structures and Algorithms  A1+TA1+G1
4     CSE2001  Data Structures and Algorithms  A1+TA1+G1

In [10]:
# print all the courses whose course code aren't in the format of [A-Z]{3}[0-9]{3}
df[~df["course code".upper()].str.match(r"^[A-Z]{3}[0-9]{4}$")]

Empty DataFrame
Columns: [COURSE CODE, TITLE, SLOT]
Index: []

In [66]:
# merge all the rows that have COURSE CODE AND SLOT AND COURSE TITLE as SAME
# append all the SLOT values to the SLOT column SLOT col is a list 
_df = df.groupby(["COURSE CODE", "TITLE"])\
        .agg({"SLOT": lambda x: list(x)})\
        .reset_index()

In [67]:
_df.head()

,COURSE CODE,TITLE,SLOT
0,CHY1001,Environmental Studies,"[E1, nan]"
1,CHY1005,Industrial Chemistry for Engineers,"[C1+TC1, G2+TG2, G1+TG1]"
2,CHY1006,Corrosion Science and Engineering,"[E2+TE2, F2+TF2, D1+TD1]"
3,CHY1007,Energy Materials and Their Applications,"[B2+TB2, D2+TD2, F1+TF1]"
4,CHY2001,Chemical and Biosensors,[A2+TA2]

In [58]:
_df = _df.drop(columns=[0]) # remove the column that is there because of the groupby

In [47]:
_df.head()

  COURSE CODE                               TITLE    SLOT
0     CHY1001               Environmental Studies      E1
1     CHY1005  Industrial Chemistry for Engineers  C1+TC1
2     CHY1005  Industrial Chemistry for Engineers  G1+TG1
3     CHY1005  Industrial Chemistry for Engineers  G2+TG2
4     CHY1006   Corrosion Science and Engineering  D1+TD1

In [70]:
# convert the course-slots into a set to remove duplicates and remove nan and the empty slots
_df["SLOT"] = _df["SLOT"].apply(lambda x: set(x) - {np.nan, " "})

In [72]:
_df.isnull().sum()

COURSE CODE    0
TITLE          0
SLOT           0
dtype: int64

In [73]:
# merge course-code and course-title into a single column called course 
_df["course"] = _df["COURSE CODE"] + "-" + _df["TITLE"] + ("( LAB )" if is_lab else "")

In [74]:
# drop the course-code and course-title columns
_df.drop(columns=["COURSE CODE", "TITLE"], inplace=True)

In [78]:
# convert slot from set to list
_df["SLOT"] = _df["SLOT"].apply(lambda x: list(x))

In [79]:
# convert into a dict where course title is key and value is slots 
course_dict = _df.set_index("course").to_dict()["SLOT"]
course_dict

{'CHY1001-Environmental Studies': ['E1'],
 'CHY1005-Industrial Chemistry for Engineers': ['G1+TG1', 'C1+TC1', 'G2+TG2'],
 'CHY1006-Corrosion Science and Engineering': ['E2+TE2', 'D1+TD1', 'F2+TF2'],
 'CHY1007-Energy Materials and Their Applications': ['D2+TD2',
  'B2+TB2',
  'F1+TF1'],
 'CHY2001-Chemical and Biosensors': ['A2+TA2'],
 'CHY2002-Organic Electronics': ['E1+TE1', 'B2+TB2'],
 'CSE1006-Foundations for Data Analytics': ['E1'],
 'CSE1008-Theory of Computation': ['C1+TC1+TCC1', 'D2+TD2+TDD2'],
 'CSE2001-Data Structures and Algorithms': ['B1+TB1+TBB1+TG1',
  'A1+TA1+G1',
  'B2+TB2+TBB2+TG2',
  'A2+TA2+G2'],
 'CSE2009-Soft Computing': ['C1+TC1', 'C2+TC2'],
 'CSE2010-Secure Coding': ['C2+TC2'],
 'CSE2011-Cyber Security and Digital Forensics': ['D2+TD2'],
 'CSE2013-Information Theory and Coding': ['B1+TB1+TBB1'],
 'CSE3001-Agile Development Process': ['A2+TA2', 'F1+TF1'],
 'CSE3002-Artificial Intelligence': ['A1+TA1', 'B2+TB2'],
 'CSE3003-Computer Networks': ['G1+TG1'],
 'CSE3004-Design and Analysis of Algorithms': ['F1+TF1'],
 'CSE3006-Data Visualization': ['E2+TE2'],
 'CSE3008-Introduction to Machine Learning': ['D2+TD2', 'C1+TC1'],
 'CSE3009-No SQL Databases': ['A2+TA2'],
 'CSE3012-Network Security': ['D2+TD2'],
 'CSE3015-Natural Language Processing': ['B1+TB1'],
 'CSE3018-Software Configuration Management': ['F2+TF2'],
 'CSE3019-Software Quality and Reliability': ['E1+TE1', 'B2+TB2'],
 'CSE3020-Product Definition and Validation': ['F2+TF2'],
 'CSE3031-Mobile Computing': ['G1+TG1'],
 'CSE4005-Data Warehousing and Data Mining': ['B2+TB2'],
 'CSE4006-Deep Learning': ['G2+TG2'],
 'CSE4007-Digital Image Processing': ['G1+TG1'],
 'CSE4011-Internet of Things': ['C2+TC2'],
 'CSE4012-UI UX User Experience Design': ['A2+TA2', 'B1+TB1'],
 'CSE4018-Computer Vision and Robotics': ['D1+TD1'],
 'CSE4033-IT Project Management': ['E1+TE1'],
 'ECE1010-Probability and Random Processes': ['A2+TA2+TAA2',
  'B2+TB2+TBB2',
  'B1+TB1+TBB1',
  'A1+TA1+TAA1'],
 'ECE2002-Computer Organization and Architecture': ['B2+TB2+TBB2',
  'A1+TA1+TAA1',
  'A2+TA2+TAA2',
  'D2+TD2+TDD2',
  'B1+TB1+TBB1',
  'D1+TD1+TDD1',
  'C1+TC1+TCC1',
  'C2+TC2+TCC2'],
 'ECE3008-Neural Networks and Fuzzy Systems': ['B1+TB1+TBB1'],
 'ECE3009-Power Electronic Converters': ['C1+TC1'],
 'ECE4007-IoT System Architecture': ['G1'],
 'ENG1015-Introduction to 20th Century European Literature in Translation': ['A1+TA1'],
 'ENG3001-Introduction to Translation Studies': ['A2+TA2'],
 'ENG3004-Introducing Linguistics': ['F1'],
 'FRL1001-Basic French': ['G1', 'G2', 'F2'],
 'FRL1004-Basic Spanish': ['F1'],
 'FRL1005-German for Beginners': ['E2', 'E1', 'G2'],
 'FRL2003-French for Engineers': ['G1', 'G2'],
 'FRL2004-Korean for Beginners': ['F1', 'F2'],
 'HUM1002-Personal Finance for Engineers': ['F2'],
 'HUM2003-Fundamentals of Cost and Management Accounting': ['A1+TA1'],
 'INL1001-Functional Hindi for non-Hindi Speakers': ['G2'],
 'INL1101-Foundation of Hindi Language': ['E2'],
 'LAW1001-Law, Internet and Society': ['G1+TG1'],
 'LAW1002-Competition Law for Engineers': ['C2+TC2', 'F1+TF1'],
 'LAW1003-Human Rights and Criminal Justice System': ['G2+TG2'],
 'LAW1005-Introduction to Indian Constitution': ['D1+TD1', 'F2+TF2'],
 'LAW1008-IP for Engineers': ['D1+TD1+TDD1', 'C2+TC2+TCC2'],
 'LAW2001-Business and Human Rights': ['E2+TE2'],
 'LIB1001-Anthropology - An Introduction': ['A1+TA1'],
 'LIB1003-Psychology - An Introduction': ['B1+TB1'],
 'LIB1007-Gender Studies': ['B2+TB2'],
 'LIB1014-Pursuit of Happiness': ['C1+TC1'],
 'LIB2003-Geography of Asia and Sub-Saharan Africa': ['F1+TF1'],
 'LIB2004-Ancient Indian History': ['A1+TA1+TAA1'],
 'MAT1003-Discrete Mathematical Structures': ['B2+TB2+TBB2',
  'A1+TA1+TAA1',
  'A2+TA2+TAA2',
  'D2+TD2+TDD2',
  'B1+TB1+TBB1',
  'D1+TD1+TDD1',
  'C1+TC1+TCC1',
  'C2+TC2+TCC2'],
 'MAT1007-Discrete Mathematics': ['D1+TD1+TDD1',
  'C1+TC1+TCC1',
  'D2+TD2+TDD2',
  'C2+TC2+TCC2'],
 'MAT1011-Applied Statistics': ['E1+TE1', 'C1+TC1', 'C2+TC2', 'E2+TE2'],
 'MAT2001-Numerical Methods': ['E1+TE1', 'C1+TC1', 'E2+TE2'],
 'MAT2002-Complex Variables and Partial Differential Equations': ['A1+TA1',
  'A2+TA2'],
 'MAT2003-Optimization Tecniques': ['A2+TA2'],
 'MAT2004-Applied Optimization Techniques': ['D1+TD1'],
 'MAT2005-Linear Algebra': ['G1+TG1', 'A1+TA1', 'B2+TB2'],
 'MAT2009-Computational Statistics': ['C2+TC2', 'F1+TF1', 'A1+TA1'],
 'MAT2011-Graph Theory and Applications': ['C2+TC2'],
 'MEC2003-Strength of Materials': ['B1+TB1'],
 'MEC2004-Fluid Mechanics': ['D1+TD1'],
 'MEC2007-Introduction to Mechanical Engineering Design Process': ['C1+TC1'],
 'MEC3012-Additive Manufacturing': ['A1+TA1'],
 'MEC3023-Experimental Robotics': ['E1+TE1'],
 'MGT1002-Lean Start-up Management': ['E2+TE2', 'D1+TD1'],
 'MGT1005-Fundamentals of Creativity and Innovation Management': ['C1+TC1'],
 'MGT1007-Economics for Engineers': ['D2+TD2'],
 'MGT1008-Accounting and Finance for Engineers': ['B2+TB2'],
 'MGT1011-Fundamentals of Business Strategy': ['B1+TB1'],
 'MGT1015-Fundamentals of Consumer Behaviour': ['E2+TE2'],
 'MGT1019-Fundamentals of Project Management': ['A2+TA2'],
 'MGT1023-Fundamentals of Human Resource Management': ['E1+TE1'],
 'MGT1029-Basic Law for Engineers': ['D2+TD2', 'C1+TC1'],
 'MGT1037-Introduction to Management': ['E2+TE2'],
 'MGT1040-Entrepreneurship': ['E2', 'E1', 'F1', 'F2'],
 'MGT2016-Essentials of Marketing Management': ['D1+TD1+TDD1'],
 'MGT2019-Introduction to Business Environment': ['F2+TF2'],
 'PHY1002-Semiconductor Device Physics': ['D1+TD1+TDD1',
  'C1+TC1+TCC1',
  'D2+TD2+TDD2',
  'C2+TC2+TCC2'],
 'PHY2004-Optoelectronics': ['G2+TG2'],
 'PHY2005-Introduction to Nanotechnology': ['D1+TD1',
  'C2+TC2',
  'C1+TC1',
  'F1+TF1',
  'D2+TD2',
  'E2+TE2',
  'G2+TG2',
  'F2+TF2',
  'G1+TG1',
  'E1+TE1'],
 'PHY2006-Solar Photovoltaics: Fundamentals and Technologies': ['G1+TG1',
  'D2+TD2'],
 'STS1002-Fundamentals of Aptitude': ['D1+TD1',
  'C2+TC2',
  'A2+TA2',
  'C1+TC1',
  'D2+TD2',
  'A1+TA1'],
 'STS1008-Arithmetic Problem Solving Skills': ['D2+TD2'],
 'STS2006-Getting Started to Skill Enhancement': ['D1+TD1',
  'B2+TB2',
  'A2+TA2',
  'C2+TC2',
  'C1+TC1',
  'F1+TF1',
  'D2+TD2',
  'E2+TE2',
  'F2+TF2',
  'E1+TE1',
  'A1+TA1',
  'B1+TB1'],
 'STS2008-Numerical Ability and Cognitive Intelligence': ['D1+TD1',
  'C2+TC2',
  'A2+TA2',
  'C1+TC1',
  'F1+TF1',
  'D2+TD2',
  'E2+TE2',
  'F2+TF2',
  'E1+TE1',
  'A1+TA1'],
 'STS3004-Introduction to Programming Skills': ['F2+TF2'],
 'STS3006-Basic Competitive Coding - I': ['G1+TG1'],
 'SWE1002-Principles of Software Engineering': ['E1+TE1',
  'E2+TE2',
  'B2+TB2',
  'B1+TB1'],
 'SWE2001-Data Structures and its Applications': ['B1+TB1+TBB1+TG1',
  'A1+TA1+G1',
  'B2+TB2+TBB2+TG2',
  'A2+TA2+G2'],
 'SWE2002-Human Computer Interaction': ['G1+TG1'],
 'SWE2003-Requirements Engineering Management': ['C2+TC2'],
 'SWE2004-Software Design and Architecture': ['B1+TB1'],
 'SWE2006-Database Systems': ['F1+TF1', 'C1+TC1', 'C2+TC2', 'F2+TF2'],
 'SWE2007-Fundamentals of Operating Systems': ['A2+TA2'],
 'SWE2008-Object Oriented Analysis and Design': ['A1+TA1', 'A2+TA2'],
 'SWE3001-Fundamentals of Computer Networks': ['E2+TE2'],
 'SWE3002-Software Project Management': ['D1+TD1'],
 'SWE3003-Information and System Security': ['B2+TB2'],
 'SWE3004-Front End Design and Testing': ['A1+TA1', 'A2+TA2'],
 'SWE4001-Internet and Web Technologies': ['D1+TD1', 'F2+TF2'],
 'SWE4002-Software Testing': ['E1+TE1'],
 'SWE4003-Concepts of Mobile Application Development': ['D2+TD2', 'C1+TC1'],
 'SWE4004-Cloud Computing and its Applications': ['C1+TC1'],
 'SWE4005-Storage Technologies and Management': ['G1+TG1'],
 'TEC3001-Design Thinking': ['D1+TD1',
  'B2+TB2',
  'A2+TA2',
  'C2+TC2',
  'C1+TC1',
  'F1+TF1',
  'D2+TD2',
  'E2+TE2',
  'F2+TF2',
  'E1+TE1',
  'A1+TA1',
  'B1+TB1']}

In [80]:
# save this as json 
import json
with open("course_dict.json", "w") as f:
    json.dump(course_dict, f, indent=4)