In [1]:
with open("./time_table.txt", "r") as f:
    time_table = f.readlines()

In [4]:
time_table = [x.strip().replace("\n", "") for x in time_table]
time_table

['D1 C1 F1/TCC2 TE1 D2 C2 F2/TCC1 TE2',
 'L1 L2 L3 L4 L25 L26 L27 L28 L29 L30',
 'B1 A1 C1 TD1 B2 A2 C2 TD2',
 'L5 L6 L7 L8 L31 L32 L33 L34 L35 L36',
 'E1 F1/TBB2 TC1 D1 E2 F2/TBB1 TC2 D2',
 'L9 L10 L11 L12 L37 L38 L39 L40 L41 L42',
 'F1/TDD2 E1 TB1 TA1 F2/TDD1 E2 TB2 TA2',
 'L13 L14 L15 L16 L43 L44 L45 L46 L47 L48',
 'C1 D1 E1 TF1/TAA2 C2 D2 E2 TF2/TAA1',
 'L17 L18 L19 L20 L49 L50 L51 L52 L53 L54',
 'B1 B1 A1 A1 B2 B2 A2 A2',
 'L21 L22 L23 L24 L55 L56 L57 L58 L59 L60']

In [5]:
import re


def is_empty(s: str):
    # check if all the characters are empty using regex
    return re.match(r"^\s*$", s) is not None

In [12]:
slots_per_day = []
for i in range(0, len(time_table), 2 ):
    line1 = time_table[i]
    line2 = time_table[i+1]

    line1 = line1.split(" ")
    line2 = line2.split(" ")

    line1 = [x for x in line1 if not is_empty(x)]
    line2 = [x for x in line2 if not is_empty(x)]

    # merge two arrays into one element by element if overflow still add 
    line = [(x + "+" + y).replace("/", "+") for x, y in zip(line1, line2)]
    line.extend(line2[len(line1):])
    slots_per_day.append(line)

['D1+L1', 'C1+L2', 'F1+TCC2+L3', 'TE1+L4', 'D2+L25', 'C2+L26', 'F2+TCC1+L27', 'TE2+L28', 'L29', 'L30']
['B1+L5', 'A1+L6', 'C1+L7', 'TD1+L8', 'B2+L31', 'A2+L32', 'C2+L33', 'TD2+L34', 'L35', 'L36']
['E1+L9', 'F1+TBB2+L10', 'TC1+L11', 'D1+L12', 'E2+L37', 'F2+TBB1+L38', 'TC2+L39', 'D2+L40', 'L41', 'L42']
['F1+TDD2+L13', 'E1+L14', 'TB1+L15', 'TA1+L16', 'F2+TDD1+L43', 'E2+L44', 'TB2+L45', 'TA2+L46', 'L47', 'L48']
['C1+L17', 'D1+L18', 'E1+L19', 'TF1+TAA2+L20', 'C2+L49', 'D2+L50', 'E2+L51', 'TF2+TAA1+L52', 'L53', 'L54']
['B1+L21', 'B1+L22', 'A1+L23', 'A1+L24', 'B2+L55', 'B2+L56', 'A2+L57', 'A2+L58', 'L59', 'L60']

In [13]:
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

# convert into a dictionary 
time_table = dict(zip(days, slots_per_day))
time_table

{'Monday': ['D1+L1',
  'C1+L2',
  'F1+TCC2+L3',
  'TE1+L4',
  'D2+L25',
  'C2+L26',
  'F2+TCC1+L27',
  'TE2+L28',
  'L29',
  'L30'],
 'Tuesday': ['B1+L5',
  'A1+L6',
  'C1+L7',
  'TD1+L8',
  'B2+L31',
  'A2+L32',
  'C2+L33',
  'TD2+L34',
  'L35',
  'L36'],
 'Wednesday': ['E1+L9',
  'F1+TBB2+L10',
  'TC1+L11',
  'D1+L12',
  'E2+L37',
  'F2+TBB1+L38',
  'TC2+L39',
  'D2+L40',
  'L41',
  'L42'],
 'Thursday': ['F1+TDD2+L13',
  'E1+L14',
  'TB1+L15',
  'TA1+L16',
  'F2+TDD1+L43',
  'E2+L44',
  'TB2+L45',
  'TA2+L46',
  'L47',
  'L48'],
 'Friday': ['C1+L17',
  'D1+L18',
  'E1+L19',
  'TF1+TAA2+L20',
  'C2+L49',
  'D2+L50',
  'E2+L51',
  'TF2+TAA1+L52',
  'L53',
  'L54'],
 'Saturday': ['B1+L21',
  'B1+L22',
  'A1+L23',
  'A1+L24',
  'B2+L55',
  'B2+L56',
  'A2+L57',
  'A2+L58',
  'L59',
  'L60']}

In [14]:
import json 
with open("./time_table.json", "w") as f:
    json.dump(time_table, f, indent=4)